<div class="container">
  <div class="col-md-8 form-group">        
    <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">        
  </div>    
  <div class="row" *ngIf="filelist != undefined && filelist.length > 0">
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th *ngFor="let item of filelist[0] | keyvalue">{{item.key}}</th> 
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let items of filelist">  
          <td *ngFor="let item of items | keyvalue">{{ item.value }}</td> 
        </tr>  
      </tbody>  
    </table>  
  </div>
</div>